*.o
*.obj
*.lo
*.la
*.al
*.dll
*.exe
*.so
*.dylib

build-*/
out-*/

*.pro.user*
*.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.layout
*.autosave
*.user
*.creator.*

moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user
build/

*~
*.swp
.DS_Store
.idea/
.vscode/